#titleBanner {
    background-image: url("../images/Daniel_Parks_East_Bay.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*height: 40em;*/
}

#titleBanner h1, #titleBanner h5, .titleBarLink {
    text-transform: uppercase;
    color: #FFF;
    margin: 0;
    padding: 0;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

#titleText {
    font-size: 1.5em;
    text-align: center;
    line-height: 1.6em;
}

#titleText span {
    font-size: 3.1em;
    font-weight: 700;
}

.navLink {
    font-size: 0.8em;
}

.navLinkText {
    text-decoration: none;
    color: #FFF;
}

.navLinkText:visited {
    color: #FFF;
}

.navLinkText:hover {
    text-decoration: underline;
    color: #FFF;
}

.doForYou {
    height: 200px;
}

.thinSectionTitle {
    position: relative;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 200px;
}

#servicesRow {
    height: 30em;
    background-color: #A2CFB2;
}

#contactRow {
    height: 30em;
    background-color: #e7e7e7;
}

#mapEmbed {

}
