#titleBanner {
    background-image: url("../images/Daniel_Parks_East_Bay.jpg");
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40em;
}
